* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "Roboto_1";
    src:url(shrift/CormorantGaramond-Italic-VariableFont_wght.ttf);
}
@font-face{
    font-family: "Roboto_3";
    src:url(shrift/PlayfairDisplay-VariableFont_wght.ttf);
}
.Welcome_to_our_restaurant {
    width: 100vw;
    height: 100vh;
    background-image: url(images/Background\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto_2", sans-serif;
}

header {
    width: 100vw;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47vh;
}

nav ul {
    width: 26vw;
    height: 5vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 4vh;
    background-color: rgba(45, 35, 35, 0.5);
}
nav a {text-decoration: none;color: #A5A5A5;}
nav li :hover {color: white;}
.button button {
    width: 16vh;
    height: 4vh;
    border: none;
    background-color: #F4C73F;
    border-radius: 3vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 17vh;
    gap: 1vh;
}
.container p {color: #EDEDED;}
.container .p {font-size: 30px;color: #F9E68E; font-family: "Roboto_1", sans-serif;}
.container .p_2 {font-size: 60px; color: white;}

/*СТРАНИЦА 3 */
.Chef’s_Favorites {
    width: 100vw;
    height: 160vh;
    font-family: "Roboto_3", sans-serif;
}
.tetx_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.very_button {
    width: 57vh;
    height: 4vh;
    gap: 1.5vh;
    border-radius: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ebe9e9;
}
.very_button button{
    width: 10vh;
    height: 3vh;
    border: none;
    background-color:#ebe9e9 ;
    color: #A5A5A5;
    border-radius: 2vh;
}
.very_button :hover{
    background-color: white;
    color: black;
}
.container_2 {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 10vh;
}
.Appetizer {display: flex; gap: 3vh;}
.tetx_3{display: flex; align-items: center; gap: 2vh;}
.tetx_3 hr{
   width: 100px;
   position: relative;
   top: -0.1vh; left: 0.1vh;
}.tetx_3 .p_6{font-size: 25px; color:black;}

.body{display: flex;flex-direction: column; gap: 1.8vh;}
.body p{font-size: 18px; color: #575757;}
.body button{
    width: 90px; height: 26px; 
    border: none; border-radius: 1vh; 
    background-color: #F5F5F5;
}
.very_big_container_2{display: flex; gap: 3vh;}
.big_left_container{
display: flex;
flex-direction: column; gap: 2vh;
position: relative; left: 36vh;
top: 18vh;}
.big_right_container{
display: flex;
flex-direction: column; gap: 2vh;
position: relative; left: 36vh;
top: 18vh;
}
.tetx_2 button{
    position: relative; top: 32vh; left: -1vh;
     width: 16vh;
    height: 5vh;
    border-radius: 3vh;
    border: none;
    background-color: #F4C73F;
}
/*СТРАНИЦА 3 */
.Real_Talk_From_Real_Foodies{
    width: 100vw;
    height: 100vh; 
    background-color:#01101D;
    font-family: "Roboto_3", sans-serif;
}
.tetx_4{
    color: #FDFDFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; top: 10vh;
}
.container_3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; top: 20vh;left: -10vh; gap: 10vh;
}
.foto_5{
width: 40vh;
height: 46vh;
background: url(images/sgd.png);
background-repeat: no-repeat;
border-radius: 1vh;
background-size: cover;
position: relative; left: 10vh;
}
.foto_6{
width: 40vh;
height: 46vh;
background: url(images/yu.png);
background-repeat: no-repeat;
border-radius: 1vh;
background-size: cover;
position: relative; left: 10vh;
}
.foto_7{
width: 40vh;
height: 46vh;
background: url(images/jkl.png);
background-repeat: no-repeat;
border-radius: 1vh;
background-size: cover;
position: relative; left: 10vh;
}
.foto_5_2{
    width: 36vh;
    height: 16vh;
    border-radius: 2vh;
    background-color: #FDFDFD; 
    position: relative; top: 25vh; left: 2vh;
}.foto_5_2 p{position: relative;font-size: 14px; top: 2vh; left: 1vh;}
.p_7{position: relative; top: 1vh; }
.p_8{font-size: 12px;}
.p_9{font-size: 7px; color: #575757;}
.end_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative; 
    top: 26vh;
}
.end_section .foto_8{width: 90vh;}
.strelki{display: flex; gap: 2vh;}
.strelki button{
    width: 5vh;
    height: 5vh;
    border-radius: 4vh;
    border: none;
}
.tetx_4 h1{font-size: 40px;}
.tetx_4 .p_10{font-size: 16px;color: #EDEDED;
}
/*footer */
footer{
    width: 100vw;
    height: 110vh;
    background-color: #01101D;
    font-family: "Roboto_3", sans-serif;
}
.big_container_3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
     top: 5vh;
}
.Explore{
 width: 46vh;
 position: relative;
left: -10vh;
}
.Explore p{
color: #EDEDED;
font-size: 44px;
}
.Explore button{
     width: 12vh;
    height: 4vh;
    border: none;
    background-color: #F4C73F;
    border-radius: 3vh;
    position: relative;
    top: 2vh;
}
.stolbik a{
color: #EDEDED;
text-decoration: none;
list-style: none;
}.stolbik ul{
    display: flex; 
    flex-direction: column;
     list-style: none; 
     gap: 2vh;
    }
    .Connect{
        display: flex;
         flex-direction: column; 
         gap: 2vh;
         position: relative;
         top: -5vh;
        }
    .Connect p{color: #A5A5A5;}
.All{
    display: flex;
    justify-content: center;
    gap: 114vh;
    position: relative;
    top: 20vh;
}
.All p{color: #F5F5F5; font-size: 14px;}
.foto_11{
    position: relative;
    top: 22vh;
    left: 35vh;
}
.Platieu {
    display: flex;
    justify-content: center;
    position: relative;
    top: 14vh;
}
.Platieu p{
    color: transparent;
    font-size: 560px;
   background-image: url(images/image.png);
   background-clip: text;
   -webkit-background-clip: text;
    font-family: "Roboto_1", sans-serif;
}