
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "Roboto_1";
    src:url(shrift/CormorantGaramond-Italic-VariableFont_wght.ttf);
}
@font-face{
    font-family: "Roboto_3";
    src:url(shrift/PlayfairDisplay-VariableFont_wght.ttf);
}
.Welcome_to_our_restaurant {
    width: 100vw;
    height: 100vh;
    background-image: url(images/Background\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto_2", sans-serif;
}

header {
    width: 100vw;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47vh;
}

nav ul {
    width: 26vw;
    height: 5vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 4vh;
    background-color: rgba(45, 35, 35, 0.5);
}
nav a {text-decoration: none;color: #A5A5A5;}
nav li :hover {color: white;}
.button button {
    width: 16vh;
    height: 4vh;
    border: none;
    background-color: #F4C73F;
    border-radius: 3vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 17vh;
    gap: 1vh;
}
.container p {color: #EDEDED;}
.container .p {font-size: 30px;color: #F9E68E; font-family: "Roboto_1", sans-serif;}
.container .p_2 {font-size: 60px; color: white;}


.Craving_Something_Delicious{
    width: 100vw;
    height: 200vh;
    background-color: #FDFDFD;
    font-family: "Roboto_3", sans-serif;
}
.big_left_container_2{
    width: 80vh;
    height: 90vh;
    position: relative;left: 6vh;
    top: 10vh;
    border-radius: 2vh;
    background-color: #FFFFFF;
    box-shadow: 0 1vh 3vh #00000008;
}
.tetx_5{
display: flex;
flex-direction: column;
gap: 4vh;
position: relative; left: 3vh; top: 3vh;
}
.tetx_5 p{
    font-size: 30px;
}
.FullName{
     width: 66.7vh;
    height: 4vh;
    border-radius: 1vh;
}
textarea{
    width:  66.7vh;
    height: 40vh;
}
.Phone_Number{
    width: 60vh;
    height: 4vh;
    position: relative; left: -0.6vh;
    border-radius: 0 1vh 1vh 0;
}
select{
    width: 7vh;
    height:4vh;
    justify-content: center;
    border-radius: 1vh  0 0 1vh;
}
.Email{
     width: 66.7vh;
    height: 4vh;
    border-radius: 1vh;
}
.button_3 button {
    width: 60vh;
    height: 4vh;
    border: none;
    background-color: #F4C73F;
    border-radius: 3vh;
    position: relative;
    left: 6vh;
    top: -1vh;
}
span{
    text-decoration:underline;
    color:#F4C73F;
}
.big_right_container_2{
   width: 50vh;
    position: relative;
    top: -76vh;
    left: 120vh;
    display: flex;
  flex-direction: column;
  gap: 4vh;
}
.location{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.container_5{
    display: flex;
    gap: 6vh;
}
.Number{
   display: flex;
   flex-direction: column;
   gap: 1vh;
}
.p_12{font-size: 50px;}
.p_11{font-size: 25px;}
iframe{
   width: 120vh;
   height: 60vh;
   position: relative;
   left: 45vh;
   top:-20vh;
}
.part{
    width: 100vw;
    height: 55vh;
    background-color: #FDFDFD;
    font-family: "Roboto_3", sans-serif;
}
.big_container_4{
    display: flex;
    justify-content: space-around;
}
.Find{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.Find .p_14{font-size: 40px;}
.Find .p_15{font-size: 17px; color: #575757;}

.askl{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.d{
    display: flex;
    flex-direction: column;
    gap: 1.4vh;
}
.askl .p_16{font-size: 20px;}
.askl .p_17{font-size: 17px; color: #575757;}

/*footer */
footer{
    width: 100vw;
    height: 110vh;
    background-color: #01101D;
    font-family: "Roboto_3", sans-serif;
}
.big_container_3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
     top: 5vh;
}
.Explore{
 width: 46vh;
 position: relative;
left: -10vh;
}
.Explore p{
color: #EDEDED;
font-size: 44px;
}
.Explore button{
     width: 12vh;
    height: 4vh;
    border: none;
    background-color: #F4C73F;
    border-radius: 3vh;
    position: relative;
    top: 2vh;
}
.stolbik a{
color: #EDEDED;
text-decoration: none;
list-style: none;
}.stolbik ul{
    display: flex; 
    flex-direction: column;
     list-style: none; 
     gap: 2vh;
    }
    .Connect{
        display: flex;
         flex-direction: column; 
         gap: 2vh;
         position: relative;
         top: -5vh;
        }
    .Connect p{color: #A5A5A5;}
.All{
    display: flex;
    justify-content: center;
    gap: 114vh;
    position: relative;
    top: 20vh;
}
.All p{color: #F5F5F5; font-size: 14px;}
.foto_11{
    position: relative;
    top: 22vh;
    left: 35vh;
}
.Platieu {
    display: flex;
    justify-content: center;
    position: relative;
    top: 14vh;
}
.Platieu p{
    color: transparent;
    font-size: 560px;
   background-image: url(images/image.png);
   background-clip: text;
   -webkit-background-clip: text;
    font-family: "Roboto_1", sans-serif;
}
